body {
  /* background: url('templates\static\images\background.png') no-repeat center center fixed; */
  background: radial-gradient(circle, black, orange);
}

/* #mainBody {
  margin-top: auto;
  margin-bottom: auto;
} */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.thumbnail {
  max-width: 100%;
  height: auto;
}

.custom-file {
  height: 600px;
}

h1 {
  margin: 50px
}
