
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sinirsel Stil Transferi</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Local JS -->
	<script src="{{ url_for('static', filename='js/generated.js') }}"></script>
</head>

<body>
	<div class="container">
		{% if image %}
		<div class="row text-center">
			<!-- <img src="data:image/png;base64, {{ image }}" class="img-fluid" id="test"> -->
			<img src="{{ url_for('static', filename=image) }}" class="img-fluid" id="test">
		</div>
		<div class="input-group-prepend text-center">
			<a href="{{ url_for('static', filename=image) }}" download="generated.png"><button class="btn btn-outline-secondary" type="button">Goruntuyu Kaydet!</button></a>
			<a href="/"><button class="btn btn-outline-secondary" type="button">Ana Sayfa</button></a>
		</div>
		{% else %}
		<div class="row">
			<!-- Input div -->
			<div class="col">
				<div class="text-center">
					<img id="loadedImage" class="img-fluid rounded" >
				</div>
				<div class="custom-file">
					<form method="POST" enctype="multipart/form-data">
						<input type="file" accept="image/*" class="custom-file-input" id="uploader" name="uploader" onchange="loadImage()">
						<input type="submit">
					</form>
					<!-- <label class="custom-file-label" for="validatedCustomFile">Choose file...</label> -->
				</div>
			</div>
			<!-- Output div -->
		</div>
		{% endif %}
	</div>

	<!-- JQuery minified script -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!-- Bootstrap minified script -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>

</html>
