
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sinirsel Stil Transferi</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Local CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

	<!-- Local JS -->
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
	<main>
		<section class="container text-center">
			<div class="row">
				<div class="col">
					<h1 class="fw-light">Sinirsel Stil Transferi</h1>
					<p class="lead text-muted">
						<i>Perceptual Losses for Real-Time Style Transfer and Style Resolution</i> adlı makale çerçevesinde yapılan bir sinirsel stil transferi uygulaması.
						İstediğin bir fotoğrafı yükle, 
					</p>
				</div>
			</div>
		</section>

		<!-- Image input division -->
		<div class="container">
			<div class="row justify-content-md-center">
				<!-- Input div -->
				<div class="custom-file">
					<img id="loadedImage" class="img-fluid center-block">
					<form method="POST" enctype="multipart/form-data">
						<input type="file" accept="image/*" class="custom-file-input" id="uploader" name="uploader" onchange="loadImage(maxSize=585)">
						<input type="submit">
					</form>
				</div>
			</div>
		</div>

		<div class="album bg-light">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col-sm-4">
						<div class="card shadow-sm">
							<a href="test/"><img class="img-fluid thumbnail" src="{{ url_for('static', filename='images/starry_night.jpg') }}"></a>
							<div class="card-body">
								<p class="card-text">İlk stil</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card shadow-sm">
							<a href="test/"><img class="img-fluid thumbnail" src="{{ url_for('static', filename='images/rain_princess.jpg') }}"></a>
							<div class="card-body">
								<p class="card-text">İkinci stil</p>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="card shadow-sm">
							<a href="test/"><img class="img-fluid thumbnail" src="{{ url_for('static', filename='images/la_muse.jpg') }}"></a>
							<div class="card-body">
								<p class="card-text">Ücüncü stil</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- JQuery minified script -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!-- Bootstrap minified script -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>

</html>
